/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

@import 'chosen';

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}



// Media objects
// Source: http://stubbornella.org/content/?p=497
// Adapted from bootstrap for use with Foundation 
// --------------------------------------------------

// Options for margins 
$media-spacing: 15px;
$media-heading-bottom-margin: 5px;
$media-image-alignment-margin: 10px;

// Clear the floats
.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}

// Proper spacing between instances of .media
.media,
.media .media {
  margin-top: $media-spacing;
}
.media:first-child {
  margin-top: 0;
}

// For images and videos, set to block
.media-object {
  display: block;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-bottom: $media-heading-bottom-margin;
}


// Media image alignment
// -------------------------

.media {
  > .left {
    margin-right: $media-image-alignment-margin;
  }
  > .right {
    margin-left: $media-image-alignment-margin;
  }
}


// Media list variation
// -------------------------

// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}